# Environment and system files
**/venv/
**/.env
**/__pycache__/
**.pth

# Game data and output files
game_data/
champions_html/
items/
**/matches*
**/timelines*
**/features*
**/backup*
player_info/
checked.json
**/champions.json
**/matches/
**/timelines/
_ignore/
last.txt
sync

# Notebooks
notebooks_mc886/
