**/venv/*
**/.env
**/game_data/
champions_html/*
items/
**/matches/*
**/__pycache__/
**/champions.json
**/timelines/*
features/*
player_info/*
checked.json
notebooks_mc886/
**.pth
sync
matches
timelines
_ignore